
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Podkova:wght@400;500;600;700;800&display=swap');
html, body, head {
    font-family: "Outfit";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Podkova";
}


/* Code used to hide scrollbars (from: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll) */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* 

    Colors 

    Primary (main): #AADEF3
    Primary-dark (main-dark): #4F6E8C
    Secondary (second): #ee6565
    Secondary-dark (second-dark): #aa4343

*/

    /* Background colors */

    .bg-main {
        background-color: #AADEF3;
    }
    .bg-main-dark {
        background-color: #4F6E8C;
    }
    .bg-second {
        background-color: #ee6565;
    }
    .bg-second-dark {
        background-color: #aa4343;
    }

    /* Text colors */

    .text-main {
        color: #AADEF3;
    }
    .text-main-dark {
        color: #4F6E8C;
    }
    .text-second {
        color: #ee6565;
    }
    .text-second-dark {
        color: #aa4343;
    }
    .blur {
        color: #4d4d4d;
        filter: blur(1px);
    }


    /* Link colors */

    a, a:visited {
        text-decoration: none;
        transition: .2s;
    }

    .link-main, .link-main:visited {
        color: #AADEF3;
    }
    .link-main:hover, .link-main:active {
        color: #4F6E8C;
    }
    .link-main-dark, .link-main-dark:visited {
        color: #145e7e;
    }
    .link-main-dark:hover, .link-main-dark:active {
        color: #093547;
    }
    .link-second, .link-second:visited {
        color: #ee6565;
    }
    .link-second:hover, .link-second:active {
        color: #aa4343;
    }
    .link-second-dark, .link-second-dark:visited {
        color: #9c3f3f;
    }
    .link-second-dark:hover, .link-second-dark:active {
        color: #662a2a;
    }

    
    /* Text-shadow colors */

    .text-sh-white {
        text-shadow: 2px 2px 0px #ffffff;
    }
    .text-sh-dark {
        text-shadow: 2px 2px 0px #202020;
    }
    .text-sh-main {
        text-shadow: 2px 2px 0px #AADEF3;
    }
    .text-sh-main-dark {
        text-shadow: 2px 2px 0px #4F6E8C;
    }
    .text-sh-second {
        text-shadow: 2px 2px 0px #ee6565;
    }
    .text-sh-second-dark {
        text-shadow: 2px 2px 0px #aa4343;
    }

    /* Box-shadow colors */

    .box-sh-white, .box-sh-white:focus {
        box-shadow: 2px 2px 0px #ffffff;
    }
    .box-sh-dark, .box-sh-dark:focus {
        box-shadow: 2px 2px 0px #202020;
    }
    .box-sh-main, .box-sh-main:focus {
        box-shadow: 2px 2px 0px #AADEF3;
    }
    .box-sh-main-dark, .box-sh-main-dark:focus {
        box-shadow: 2px 2px 0px #4F6E8C;
    }
    .box-sh-second, .box-sh-second:focus {
        box-shadow: 2px 2px 0px #ee6565;
    }
    .box-sh-second-dark, .box-sh-second-dark:focus {
        box-shadow: 2px 2px 0px #aa4343;
    }

    /* Background gradients */

    .bg-gradient-main {
        background: rgb(79,110,140);
        background: linear-gradient(0deg, rgba(79,110,140,1) 0%, rgba(170,222,243,1) 100%);
    }

    .bg-gradient-second {
        background: rgb(170,67,67);
        background: linear-gradient(0deg, rgba(170,67,67,1) 0%, rgba(238,101,101,1) 100%);
    }

    .bg-gradient-dark {
        background: rgb(36,36,36);
        background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(71,71,71,1) 100%);
    }


/* Main containers */

#full_page {
    z-index: 20;
}

.audio-container {
    max-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .audio-container {
        max-height: 50vh;
        height: 50vh;
        overflow-y: scroll;
    }
}

.single-container {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
}

.genre-container {
    height: 67vh;
    overflow-y: scroll;
}

.roll-group {
    background: rgb(79,110,140);
    background: linear-gradient(0deg, rgba(79,110,140,1) 0%, rgba(170,222,243,1) 100%);
}

article {
    border-top: 1px dashed black;
}

article:first-of-type {
    border: none;
}


/* Alerts */

.alert {
    z-index: 100;
    width: 50vw;
    margin-left: 25%;
}


/* Navbar */

.navbar {
    z-index: 50;
}

.navbar-toggler-icon {
    fill: white;
}

    /* Roll history */

    #roll_history svg {
        height: 30px;
        fill: white;
    }

    #roll_history_content p:nth-of-type(2) {
        color: rgb(0, 0, 0);
    }
    #roll_history_content p:nth-of-type(3) {
        color: rgb(39, 39, 39);
    }
    #roll_history_content p:nth-of-type(4) {
        color: rgb(75, 75, 75);
    }
    #roll_history_content p:nth-of-type(5) {
        color: rgb(111, 111, 111);
    }
    #roll_history_content p:nth-of-type(6) {
        color: rgb(147, 147, 147);
    }
    #roll_history_content p:nth-of-type(7) {
        color: rgb(183, 183, 183);
    }
    #roll_history_content p:nth-of-type(8) {
        color: rgb(219, 219, 219);
    }
    #roll_history_content p:nth-of-type(n+9) {
        display: none;
    }


/* Sliders */

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
    }

    input:checked + .slider {
        background-color: #ee6565;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #ee6565;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


/* Spinners */

.spinner-border {
    height: 23px;
    width: 23px;
    margin: 0;
    margin-left: 10px;
}

#stop .spinner-border {
    margin-top: 4px;
}

.roll-button .roll-spinner {
    height: 28px;
    width: 28px;
    margin-top: 2px;
}

.multi-roll-spinner {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}


/* Buttons */

    /* Music buttons */

    #music > ul .music-button {
        min-height: 90px;
    }

    /* Success buttons */

    .btn-success {
        background-color: #156541;
    }

    .btn-success:focus, .btn-success:active, .btn-success:hover {
        background-color: #105234;
    }

    /* Roll buttons */

    .roll-button img {
        width: 45px;
        border-radius: 30px;
    }

    .roll-button:hover img {
        filter: invert(.27);
    }
    
    .multi-roll button {
        background-color: #ee6565;
    }

    .multi-roll button:hover, .multi-roll button:focus {
        background-color: #aa4343;
    }

    .multi-roll .btn#multi_roll_reset {
        background-color: #a5783d;
    }

    .multi-roll .btn#multi_roll_reset:hover, .multi-roll .btn#multi_roll_reset:focus {
        background-color: rgb(102, 78, 25);
    }

    /* Accordion buttons */

    .accordion > .accordion-item > .accordion-header > .accordion-button,
    .accordion > .accordion-item > .accordion-header > .accordion-button:focus,
    .accordion > .accordion-item > .accordion-header > .accordion-button.show:focus {
        margin-top: 3px;
        color: #aa4343;
        box-shadow: none;
        background-color: #f7f7f7;
        border-bottom: 1px solid rgb(228, 228, 228);
    }

    .accordion > .accordion-item > .accordion-header > .accordion-button.collapsed:not(:focus),
    .accordion > .accordion-item > .accordion-header > .accordion-button.collapsed {
        color: black;
        box-shadow: none;
        background-color: #fff;
        border-bottom: 1px solid rgb(228, 228, 228);
    }

    .accordion > .accordion-item > .accordion-header > .accordion-button::after { /* change fill='%23000000' to change color */
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    /* Submit button */

    .btn-main {
        background-color: #c75252;
    }

    .btn-main:hover, .btn-main:focus {
        background-color: #973b3b;
    }


/* Icons */

    /* Music categories */

    .music-icon {
        width: 3vw;
        display: inline;
    }
    #battle_icon {
        width: 2vw;
    }
    .play-icon {
        height: 1.5vw;
        right: 40px;
    }

    @media only screen and (max-width: 1200px) {
        .music-icon {
            width: 4.5vw;
            display: inline;
        }
        #battle_icon {
            width: 3.5vw;
        }
        .play-icon {
            height: 2.6vw;
        }
    }
    @media only screen and (max-width: 768px) {
        .music-icon {
            width: 7vw;
            display: inline;
        }
        #battle_icon {
            width: 3.5vw;
        }
        .play-icon {
            height: 4vw;
        }
    }

    /* Social media */

    .social-icon {
        filter: invert(1);
        width: 60px;
        border-radius: 100%;
        transition-duration: .2s;
    }

    .social-icon:hover {
        background-color: #119a9a;
    }
    

/* Database */

    /* Tags */

    .tag {
        background-color: rgb(238, 238, 238);
    }

    .tag-disabled {
        background-color: none;
    }


/* Forms */

input.needs_validation:focus:valid, textarea.needs_validation:focus:valid {
    border: 2px solid green;
    color: green;
    background: linear-gradient(90deg, rgb(253, 253, 253) 32%, rgba(89,219,105,0.34637605042016806) 100%);
}

input.needs_validation:focus:invalid, textarea.needs_validation:focus:invalid {
    border: 2px solid rgb(189, 62, 62);
    color: rgb(180, 32, 32);
    background: linear-gradient(90deg, rgb(253, 253, 253) 32%, rgba(255,102,102,0.34637605042016806) 100%);
}