
/* @font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Podkova:wght@400;500;600;700;800&display=swap');
html, body, head {
    font-family: "Outfit";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Podkova";
}

/* 

    Colors 

    Primary (main): #AADEF3
    Primary-dark (main-dark): #4F6E8C
    Secondary (second): #ee6565
    Secondary-dark (second-dark): #aa4343

*/

    /* Background colors */

    .bg-main {
        background-color: #AADEF3;
    }
    .bg-main-dark {
        background-color: #4F6E8C;
    }
    .bg-second {
        background-color: #ee6565;
    }
    .bg-second-dark {
        background-color: #aa4343;
    }

    /* Text colors */

    .text-main {
        color: #AADEF3;
    }
    .text-main-dark {
        color: #4F6E8C;
    }
    .text-second {
        color: #ee6565;
    }
    .text-second-dark {
        color: #aa4343;
    }

    /* Text-shadow colors */

    .text-sh-dark {
        text-shadow: 2px 2px 0px #202020;
    }
    .text-sh-main {
        text-shadow: 2px 2px 0px #AADEF3;
    }
    .text-sh-main-dark {
        text-shadow: 2px 2px 0px #4F6E8C;
    }
    .text-sh-second {
        text-shadow: 2px 2px 0px #ee6565;
    }
    .text-sh-second-dark {
        text-shadow: 2px 2px 0px #aa4343;
    }


/* Main containers */

#full_page {
    z-index: 20;
}

.audio-container {
    max-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .audio-container {
        max-height: 50vh;
        height: 50vh;
        overflow-y: scroll;
    }
}

.single-container {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
}

/* Alerts */

.alert {
    z-index: 100;
    width: 50vw;
    margin-left: 25%;
}


/* Navbar */

.navbar {
    z-index: 50;
}

.navbar-toggler-icon {
    fill: white;
}

button.navbar-toggler:focus {
    box-shadow: none;
}


/* Bootstrap switch colors */

.form-check-input:focus {
    box-shadow: 0px 0px 4px 1px rgba(170, 67, 67, 0.459);
}

.form-check-input:checked, .form-check-input:active {
    background-color: #ee6565;
    border-color: #ee6565;
}

.form-check-input:focus:not(:checked) {
    border-color: lightgrey;
    fill: #202020;
    fill-opacity: 1;
    box-shadow: none;
}

/* Sliders */

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
    }

    input:checked + .slider {
        background-color: #ee6565;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #ee6565;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


/* Spinners */

.spinner-border {
    height: 23px;
    width: 23px;
    margin: 0;
    margin-left: 10px;
}

#stop .spinner-border {
    margin-top: 4px;
}

.roll-button .roll-spinner {
    height: 28px;
    width: 28px;
    margin-top: 2px;
}

.roll-group {
    background: rgb(79,110,140);
    background: linear-gradient(0deg, rgba(79,110,140,1) 0%, rgba(170,222,243,1) 100%);
}
    

/* Buttons */

    /* Music buttons */

    #music > ul .music-button {
        min-height: 90px;
    }

    /* Success buttons */

    .btn-success {
        background-color: #156541;
    }

    .btn-success:focus, .btn-success:active, .btn-success:hover {
        background-color: #105234;
    }


/* Social media icons */

.social-icon {
    filter: invert(1);
    width: 60px;
    border-radius: 100%;
    transition-duration: .2s;
}

.social-icon:hover {
    background-color: #119a9a;
}