
@media print {

    @page {
        size: 5.5in 8.5in landscape;
        margin: .20in;
        orphans: 5;
    }

    body, h1, h2, h3, h4, h5, h6, p, footer, section, .text-light {
        font-family: 'Courier New', Courier, monospace !important;
        color: black !important;
    }

    html, div, header, body,
    body > section,
    header > section.bg-light, 
    .bg-main-dark > header > section.bg-light,
    nav, div > div, div > div > div, html,
    .audio-container, .bg-dark {
        background-color: white !important;
        background: none !important;
    }

    .navbar-toggler {
        display: none;
    }

    a, .nav-link {
        text-decoration: underline;
    }

    .social-icon {
        filter: none !important;
    }

}